@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.template-btn {
  width: 144px;
  height: 45px;
  border-radius: 100px;
  padding: 14px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
}
.header_left {
  align-items: center;
  display: flex;
  gap: 4px;
}
.header_logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #111111;
  text-transform: uppercase;
}
.header_logo span {
  font-style: italic;
}
.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 139px;
}
.header_right--part:last-child {
  display: flex;
  gap: 19px;
}
.header_right--part:last-child svg {
  cursor: pointer;
}
.header_right--part:last-child svg path {
  transition: 0.3s ease-in-out;
}
.header_right--part:last-child svg:hover path {
  stroke: #fd9222;
}
.header_right--nav {
  display: flex;
  gap: 24px;
}
.header_right--nav--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #111111;
}

.main_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
}
.main_first .main_container {
  background-image: url("../img/chocolate-covered-cocoa-powder 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.main_first--title {
  padding-left: 40px;
  padding-top: 381px;
  max-width: 484px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -3%;
  color: white;
}
.main_first--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 0 40px 40px 40px;
}
.main_first--bottom--part button:first-child {
  background-color: #fd9222;
  transition: 0.35s ease-in-out;
}
.main_first--bottom--part button:first-child:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
.main_first--bottom--part button:last-child {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.35s ease-in-out;
}
.main_first--bottom--part button:last-child:hover {
  background-color: #ffffff;
  border: 1px solid #fd9222;
  color: #fd9222;
}
.main_first--bottom--part:last-child {
  display: flex;
  align-items: center;
  gap: 14px;
}
.main_first--bottom--part:last-child span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */