@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

.template-btn {
  border-radius: 100px;
  padding: 14px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
}
.header_left {
  align-items: center;
  display: flex;
  gap: 4px;
}
.header_logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -3%;
  color: #111111;
  text-transform: uppercase;
}
.header_logo span {
  font-style: italic;
}
.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 139px;
}
.header_right--part:last-child {
  display: flex;
  gap: 19px;
}
.header_right--part:last-child svg {
  cursor: pointer;
}
.header_right--part:last-child svg path {
  transition: 0.3s ease-in-out;
}
.header_right--part:last-child svg:hover path {
  stroke: #fd9222;
}
.header_right--nav {
  display: flex;
  gap: 24px;
}
.header_right--nav--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #111111;
}

.main_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
}
.main_first .main_container {
  background-image: url("../img/chocolate-covered-cocoa-powder 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.main_first--title {
  padding-left: 40px;
  padding-top: 381px;
  max-width: 484px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -3%;
  color: white;
}
.main_first--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 0 40px 40px 40px;
}
.main_first--bottom--part button:first-child {
  background-color: #fd9222;
  transition: 0.35s ease-in-out;
}
.main_first--bottom--part button:first-child:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
.main_first--bottom--part button:last-child {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.35s ease-in-out;
}
.main_first--bottom--part button:last-child:hover {
  background-color: #ffffff;
  border: 1px solid #fd9222;
  color: #fd9222;
}
.main_first--bottom--part:first-child {
  display: flex;
  align-items: center;
  gap: 14px;
}
.main_first--bottom--part:last-child {
  display: flex;
  align-items: center;
  gap: 14px;
}
.main_first--bottom--part:last-child span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  color: #ffffff;
}
.main_second {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 72px;
  margin-bottom: 128px;
}
.main_second .main_container {
  display: flex;
  justify-content: space-between;
}
.main_second--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-top: 22px;
  margin-bottom: 18px;
}
.main_second--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -2%;
  max-width: 308px;
  color: rgba(255, 255, 255, 0.6980392157);
}
.main_third {
  margin-bottom: 128px;
}
.main_third .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_third--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  max-width: 411px;
  margin-bottom: 28px;
}
.main_third--title span {
  color: #fd9222;
}
.main_third--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: #111111;
  max-width: 486px;
  margin-bottom: 50px;
}
.main_third--cards {
  display: flex;
  justify-content: center;
  gap: 19px;
}
.main_third--cards--el {
  padding: 28px 36px;
  border-radius: 15px;
}
.main_third--cards--el:first-child {
  background-color: #fd9222;
  color: #ffffff;
}
.main_third--cards--el:nth-child(2), .main_third--cards--el:last-child {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #fd9222;
}
.main_third--cards--el:nth-child(3) {
  background-color: #1e1823;
  color: #ffffff;
}
.main_third--cards--el--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;
  margin-top: 36px;
}
.main_fourth {
  margin-bottom: 41px;
}
.main_fourth .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_fourth--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  max-width: 411px;
  margin-bottom: 50px;
}
.main_fourth--title span {
  color: #fd9222;
}
.main_fourth--content {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.main_fourth--content--left {
  width: 100%;
  height: 100%;
}
.main_fourth--content--right {
  background-color: #ffffff;
  padding: 32px;
  justify-content: center;
  border-radius: 15px;
}
.main_fourth--content--right--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 350px;
  color: #111111;
  margin-bottom: 28px;
}
.main_fourth--content--right--list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main_fourth--content--right--list li {
  display: flex;
  gap: 8px;
}
.main_fourth--content--right--list--link {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
}
.main_fifth {
  padding-bottom: 128px;
}
.main_fifth .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_fifth--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
}
.main_fifth--title span {
  color: #fd9222;
}
.main_fifth--cards {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 50px;
}
.main_fifth--cards--el {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  padding: 32px 20px;
}
.main_fifth--cards--el--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #111111;
  margin-top: 8px;
  margin-bottom: 2px;
}
.main_fifth--cards--el--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -2%;
  color: rgba(17, 17, 17, 0.6980392157);
  margin-bottom: 18px;
}
.main_fifth--cards--el--btn {
  width: 94px;
  height: 33px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */