.review_popup {
  transition: 0.4s ease-in-out;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    form {
      display: flex;
    }
  }

  visibility: hidden;
  opacity: 0;
  width: 517px;
  height: 631px;
  background-color: #ffffff;
  border-radius: 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &--content {
    position: relative;
    &--btn {
      background-color: #fd9222;
      color: #ffffff;
    }
    &--textarea {
      width: 437px;
      height: 137px;
      resize: none;
      outline: none;
      border-radius: 13px;
      padding-left: 24px;
      padding-top: 22px;
      border: 1.5px solid #1111110d;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -2%;
      vertical-align: middle;
    }
    &--input {
      &--phone {
        position: relative;
        &--flag {
          display: flex;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding-right: 32px;
          border-right: 2.72px solid #0000001a;

          left: 24px;
          align-items: center;
          gap: 18px;
          font-family: Montserrat;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: -2%;
          vertical-align: middle;
        }
        input {
          padding-left: 177px;
        }
      }
      width: 437px;
      height: 66px;
      border-radius: 13px;
      border: 1.5px solid #1111110d;
      box-shadow: 0px 5.44px 5.44px 0px #00000008;
      outline: none;
      padding-left: 24px;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: -2%;
      vertical-align: middle;
    }
    &--close {
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
    }
    &--info {
      padding: 40px;
      form {
        display: none;
        flex-direction: column;
        gap: 19px;
      }
    }
    &--title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -3%;
      text-transform: uppercase;
      color: #111111;
      max-width: 310px;
      margin-bottom: 40px;
      span {
        color: #fd9222;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .review_popup {
    width: 430px;
    input,
    textarea {
      width: 100%;
    }
  }
}

@media screen and (max-width: 470px) {
  .review_popup {
    width: 400px;
    &--content--title {
      max-width: 260px;
    }
  }
}

@media screen and (max-width: 435px) {
  .review_popup {
    width: 370px;
    &--content--input--phone {
      &--flag {
        padding-right: 17px;
      }
      input {
        padding-left: 150px;
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .review_popup {
    width: 320px;
    &--content--input--phone {
      &--flag {
        display: none;
      }
      input {
        padding-left: 24px;
      }
    }
  }
}

@media screen and (max-width: 335px) {
  .review_popup {
    width: 320px;
  }
}
