@media screen and (max-width: 1195px) {
  .main {
    &_third {
      &--cards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        &--el {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1175px) {
  .main {
    &_fourth {
      &--content {
        display: flex;
        flex-direction: column;
        &--left {
          display: flex;
          justify-content: center;
        }
      }
    }
    &_fifth {
      &--cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1165px) {
  .main {
    &_sixth {
      &--bottom {
        max-width: 752px;
        width: 100%;
      }
      &--images {
        div:first-child {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .main {
    &_second {
      .main_container {
        display: grid;
        grid-template-areas:
          "first-card second-card"
          "third-card third-card";
      }
      &--card {
        &:first-child {
          grid-area: first-card;
        }
        &:nth-child(2) {
          grid-area: second-card;
        }
        &:nth-child(3) {
          grid-area: third-card;
          p {
            max-width: fit-content;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 775px) {
  .main {
    &_sixth {
      &--images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        div {
          display: flex;
          justify-content: center;
        }
      }
      &--bottom {
        max-width: 400px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 685px) {
  .main {
    &_fifth {
      &--cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 653px) {
  .main {
    &_second {
      .main_container {
        gap: 30px;
        grid-template-areas:
          "first-card"
          "second-card"
          "third-card";
      }
      &--card {
        p {
          max-width: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 645px) {
  .main {
    &_fourth {
      &--content--left img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 607px) {
  .main {
    &_third {
      &--cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
@media screen and (max-width: 605px) {
  .main {
    &_first {
      &--bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .main {
    &_fourth {
      &--content--left img {
        display: none;
      }
    }
  }

  @media screen and (max-width: 430px) {
    .main {
      &_first {
        &--bottom--part {
          display: flex;

          &:first-child {
            align-items: start;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    &_sixth {
      &--images {
        img {
          width: 100%;
        }
      }
    }
  }
}
