@media screen and (max-width: 1195px) {
  .main {
    &_third {
      &--cards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        &--el {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .main {
    &_second {
      .main_container {
        display: grid;
        grid-template-areas:
          "first-card second-card"
          "third-card third-card";
      }
      &--card {
        &:first-child {
          grid-area: first-card;
        }
        &:nth-child(2) {
          grid-area: second-card;
        }
        &:nth-child(3) {
          grid-area: third-card;
          p {
            max-width: fit-content;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 653px) {
  .main {
    &_second {
      .main_container {
        gap: 30px;
        grid-template-areas:
          "first-card"
          "second-card"
          "third-card";
      }
      &--card {
        p {
          max-width: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 607px) {
  .main {
    &_third {
      &--cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
@media screen and (max-width: 605px) {
  .main {
    &_first {
      &--bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main {
    &_first {
      &--bottom--part {
        display: flex;

        &:first-child {
          align-items: start;
          flex-direction: column;
        }
      }
    }
  }
}
